/* Flower */
#user-rollover.id-22517314 .meta:before{
	content:url(https://imgur.com/qAEweES.png);
	top:138px;
	left:109px;
	position:absolute
}
#user-rollover.id-22517314 .meta:after{
	content:'Membro no Discord\A Membro VIP';
	white-space:pre-wrap;
	color:#808691;
        font-size: 14px;
	position:absolute;
	top:135px;
	left:130px
}

#user-rollover.id-22517314 .meta{
	height:176px!important
}
		
/* Burkyst */
#user-rollover.id-20574971 .meta:before{
    content:url(https://imgur.com/qAEweES.png);
    top:117px;
    left:109px;
    position:absolute
}
#user-rollover.id-20574971 .meta:after{
    content:'Membro no Discord\A Membro VIP';
    white-space:pre-wrap;
    color:#808691;
        font-size: 14px;
    position:absolute;
    top:115px;
    left:130px
}

#user-rollover.id-20574971 .meta{
    height:156px!important
}

/* imagem no chat */
[data-cid^="20574971"] .msg .from .un {
position: relative;
padding-left: 20px;
background-image: url("https://imgur.com/uDDtvvd.png");
background-repeat: no-repeat;
background-position: 0px center;
background-size: 16px auto;
left: 0px;
} 		

/* DATABASE */
#user-rollover.id-3926149 .meta:before{
    content:url(https://imgur.com/qAEweES.png);
    top:117px;
    left:109px;
    position:absolute
}
#user-rollover.id-3926149 .meta:after{
    content:'Membro no Discord\A Membro VIP';
    white-space:pre-wrap;
    color:#808691;
        font-size: 14px;
    position:absolute;
    top:115px;
    left:130px
}

#user-rollover.id-3926149 .meta{
    height:156px!important
}

/* imagem no chat */
[data-cid^="3926149"] .msg .from .un {
position: relative;
padding-left: 20px;
background-image: url("https://imgur.com/uDDtvvd.png");
background-repeat: no-repeat;
background-position: 0px center;
background-size: 16px auto;
left: 0px;
}

/* 𝑳𝑶𝑩𝑶 𝑴𝑨𝑲𝑰 */
#user-rollover.id-47024210 .meta:before{
	content:url(https://imgur.com/qAEweES.png);
	top:138px;
	left:109px;
	position:absolute
}
#user-rollover.id-47024210 .meta:after{
	content:'Membro no Discord\A Membro VIP';
	white-space:pre-wrap;
	color:#808691;
        font-size: 14px;
	position:absolute;
	top:135px;
	left:130px
}

#user-rollover.id-47024210 .meta{
	height:176px!important
}

/* imagem no chat */
[data-cid^="47024210"] .msg .from .un {
position: relative;
padding-left: 20px;
background-image: url("https://i.dlpng.com/static/png/5393401-vip-membership-card-membership-png-transparent-image-and-clipart-vip-png-363_163_preview.png");
background-repeat: no-repeat;
background-position: 0px center;
background-size: 16px auto;
left: 0px;
} 		

/* Fake */
#user-rollover.id-33479737 .meta:before{
    content:url(https://imgur.com/qAEweES.png);
    top:117px;
    left:109px;
    position:absolute
}
#user-rollover.id-33479737 .meta:after{
    content:'Membro no Discord\A Membro VIP';
    white-space:pre-wrap;
    color:#808691;
        font-size: 14px;
    position:absolute;
    top:115px;
    left:130px
}

#user-rollover.id-33479737 .meta{
    height:156px!important
}

/* imagem no chat */
[data-cid^="33479737"] .msg .from .un {
position: relative;
padding-left: 20px;
background-image: url("https://i2.wp.com/multarte.com.br/wp-content/uploads/2018/10/coracao-png-9.png");
background-repeat: no-repeat;
background-position: 0px center;
background-size: 16px auto;
left: 0px;
} 		

/* !Special Agent Frosty */
#user-rollover.id-3998944 .meta:before{
    content:url(https://imgur.com/qAEweES.png);
    top:117px;
    left:109px;
    position:absolute
}
#user-rollover.id-3998944 .meta:after{
    content:'Membro no Discord\A Membro VIP';
    white-space:pre-wrap;
    color:#808691;
        font-size: 14px;
    position:absolute;
    top:115px;
    left:130px
}

#user-rollover.id-3998944 .meta{
    height:156px!important
}

/* imagem no chat */
[data-cid^="3998944"] .msg .from .un {
position: relative;
padding-left: 20px;
background-image: url("https://cdn.frankerfacez.com/emoticon/229993/1");
background-repeat: no-repeat;
background-position: 0px center;
background-size: 16px auto;
left: 0px;
} 

/* korogui */
#user-rollover.id-18919754 .meta:before{
    content:url(https://imgur.com/qAEweES.png);
    top:117px;
    left:109px;
    position:absolute
}
#user-rollover.id-18919754 .meta:after{
    content:'Membro no Discord\A Membro VIP';
    white-space:pre-wrap;
    color:#808691;
        font-size: 14px;
    position:absolute;
    top:115px;
    left:130px
}

#user-rollover.id-18919754 .meta{
    height:156px!important
}

/* imagem no chat */
[data-cid^="18919754"] .msg .from .un {
position: relative;
padding-left: 20px;
background-image: url("https://imgur.com/uDDtvvd.png");
background-repeat: no-repeat;
background-position: 0px center;
background-size: 16px auto;
left: 0px;
} 		
